{% extends "base.html" %}

{% block title  %} {{title}} {% endblock %}

{% block content %}

<section class="sec">
            <div class="box5">
                <div class="frame">
                    <h1>Update Student</h1>

                    <div class="inputs">
                        <form action="" method="POST">
                            <input type="text" name="adm" placeholder="Given admission no." required  value="{{adm}}">
                            <input type="text" name="name" placeholder="Name of student" required value="{{name}}">
                            <input type="text" name="email" placeholder="Gurdian email" required value="{{email}}">
                            <input type="text" name="clas" placeholder="Class assigned" required value="{{clas}}">
                            <input type="submit" class="bg" value="Update student">
                        </form>
                    </div>
                </div>
        </div>
    </div>
</section>

{% endblock %}